DB_URL= ""
SUPER_USER_EMAIL=""
SUPER_USER_PASSWORD=""
SECRET_KEY=""
ALGORITHM=""
ACCESS_TOKEN_EXPIRE_MINUTES=int
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""
BASE_URL=""
MAILER_EMAIL=""
MAILER_PASSWORD=""
MAILER_SERVER=""
MAILER_PORT=""
PORT=""
PAYMENT_CALLBACK_URL=""
MTN_API_PUSH=""
AIRTEL_API_PUSH=""
SMS_API_URL=""
SMS_API_KEY_PUSH=""
SMS_API_TOKEN=""
